<div class="gallery">
  <a target="_blank" href="https://github.com/yatharth-1907/codeCult">
    <img src="/static/medAi-logo.jpg" alt="medAI logo" width="600" height="400">
  </a>
  <div class="desc">This is an health care project which aims to help the doctors and paitients in determining their disease and Xray scans</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://github.com/yatharth-1907/signify">
    <img src="/static/signify-logo.jpg" alt="Signify logo" width="600" height="400">
  </a>
  <div class="desc">This project build to help the people with hearing diability, we make a model with tell the hearing person wht the non hearing person is signing.</div>
</div>